body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #988e7a, #36454f, #fad6a5, #c9b290);    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #00796b;
}

button {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #004d40;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #00796b;
}
